<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US">
<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>劳动派兼职平台，先拿钱，后工作</title>
    <meta name="description" content="劳动派兼职平台，让大学生先拿钱后工作">
    <meta name="keywords" content="兼职平台, 劳动派, 学生兼职, 先薪后劳, 先拿钱后工作" />
    <meta name="author" content="ldp" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
    .bg
    {
      position:relative;padding:10px 0;background-image:-webkit-linear-gradient(225deg, #70f6ea 0%, #51ccdc 100%);background-image:linear-gradient(225deg, #70f6ea 0%,#51ccdc 100%)
    }
    .bg:before
    {
      position:absolute;top:0;left:0;width:100%;height:100%;content:' ';background-image:url("./img/texture-shapes-bg.png")
    }
    .bg h3
    {
      color:#fff
    }
    </style>
  </head>
  <body>
	  <div id="app" class="bg" >
      <el-row type="flex" justify="center">
				<h3>劳动派提供先薪后劳机制，熨平兼职市场风险，快速招人</h3>
      </el-row>
      <el-row type="flex" justify="center">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="80px" class="demo-ruleForm">
          <el-form-item label="公司全称" prop="company">
            <el-input v-model="ruleForm.company"></el-input>
          </el-form-item>
          <el-form-item label="负责人" prop="name">
            <el-input v-model="ruleForm.name"></el-input>
          </el-form-item>
          <el-form-item label="电话" prop="phone">
            <el-input v-model.number="ruleForm.phone"></el-input>
          </el-form-item>
          <el-form-item label="所在行业" prop="trade">
            <el-input v-model="ruleForm.trade"></el-input>
          </el-form-item>
          <el-form-item label="公司地址" prop="address">
            <el-input v-model="ruleForm.address"></el-input>
          </el-form-item>
          <el-form-item label="所需岗位" prop="job">
            <el-input v-model="ruleForm.job"></el-input>
          </el-form-item>
          <el-form-item label="用工时间">
            <el-col :span="11">
              <el-form-item prop="date1">
                <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.date1" style="width: 100%;"></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="11" offset="2">
              <el-form-item prop="date2">
                <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm.date2" style="width: 100%;"></el-time-picker>
              </el-form-item>
            </el-col>
          </el-form-item>
          <el-form-item label="长期需要" prop="delivery">
            <el-switch v-model="ruleForm.delivery"></el-switch>
          </el-form-item>
          <el-form-item label="留言" prop="desc">
            <el-input type="textarea" v-model="ruleForm.desc"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">点击提交，开启灵活用工新体验！</el-button>
            <!-- <el-button @click="resetForm('ruleForm')">重置</el-button> -->
          </el-form-item>
        </el-form>
      </el-row>
    </el-row>
		</div>
  

</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
var Main = {
    data() {
      return {
        ruleForm: {
          company: '',
          name: '',
          phone: '',
          trade:'',
          address:'',
          job:'',
          date1: '',
          date2: '',
          delivery: false,
          desc: ''
        },
        rules: {
          company:[
            { required: true, message: '请输入公司全称', trigger: 'blur' },
            { min: 0, max: 15, message: '长度在 0 到 15 个字符', trigger: 'blur' }
          ],
          name: [
            { required: true, message: '请输入负责人或者经办人姓名', trigger: 'blur' },
            { min: 0, max: 15, message: '长度在 0 到 15 个字符', trigger: 'blur' }
          ],
          phone: [
            { required: true, message: '不能为空'},
            { type: 'number', message: '电话必须为数字值'},
            { min: 0, max: 11, message: '长度在 0 到 11 个字符', trigger: 'blur' }
          ],
          trade:[
            { required: true, message: '请输入公司所属行业', trigger: 'blur' },
            { min: 0, max: 15, message: '长度在 0 到 15 个字符', trigger: 'blur' }
          ],
          address:[
            { required: true, message: '请输入公司所在地址', trigger: 'blur' },
            { min: 0, max: 15, message: '长度在 0 到 15 个字符', trigger: 'blur' }
          ],
          job:[
             { required: true, message: '请输入岗位名称，如：派单员', trigger: 'blur' },
             { min: 0, max: 15, message: '长度在 0 到 15 个字符', trigger: 'blur' }
          ],
          date1: [
            { type: 'date', message: '请选择日期', trigger: 'change' }
          ],
          date2: [
            { type: 'date', message: '请选择时间', trigger: 'change' }
          ],
          desc: [
            { message: '若有留言，请在此输入', trigger: 'blur' },
            { min: 0, max: 100, message: '长度在 0 到 100个字符', trigger: 'blur' }
          ]
        }
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!');
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
  </script>

</html>